img[alt="GUIs"], img[alt="ReportImages"] {
    display: block;
    margin: auto;
    height: 500px;
}

.doublePicSection {
    text-align: center;
}

img[alt="DoublePicSection"] {
    margin: 0 10px;
    height: 500px;
}

img[alt="BalanceManagement"] {
    display: block;
    margin: auto;
    width: 300px;
}